body {
    background-color: #8762cb;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#articles {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

#summary h1 {
    font-size: 30px;
    font-weight: 600;
    color: #4A154B;
    margin-bottom: 10px;
    text-align: center;
}

#summary p {
    font-size: 16px;
    color: #666666;
    line-height: 1.6;
    text-align: center;
}

.article-button {
    background-color: #8762cb; 
    color: #4A154B;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.article-button:hover {
    background-color: #B3A2D1; 
}