body {
    background-color: #9b6dc1; 
    font-family: sans-serif; 
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
}

#categories {
    background-color: #cc99f5; 
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 90%; 
    max-width: 1200px; 
    padding: 20px;
    box-sizing: border-box; 
}

h1 {
    text-align: center;
    color: #4A154B; 
    font-size: 36px; 
    margin-bottom: 20px;
}

#categories > div { 
    text-align: center;
    margin-top: 20px;
}